.container {
    width: 100%;
    background-color: rgb(143, 142, 142);
    border-radius: 12px;
    height: 20px;
}


.h1{
    display: flex;
    justify-content: center;

}

.maindiv {
    border-radius: 12px;
    width: 0%;
    height: 100%;
    background-color: rgb(4, 185, 4);
    animation-name: loadingBar; 
    animation-duration: 6s; 
}

@keyframes loadingBar {
   0%{
    width: 0%;
    background-color: red;


   }


   45%{
    background-color: yellow;
   }



   50%{
    background-color: blue;

}


    55%{
        background-color: plum;
    }
    60%{
        background-color: brown;
    }

    70%{
        background-color: fuchsia;

    }

    75%{
        background-color: indianred;
    }

        80%{
            background-color: purple;
        }

        95%{
            background-color: rgb(4, 185, 4);
        }

        100%{
            width:100% ;
            background-color: violet;

        }
        }
    
 