p{
    font-size: 50px;
}
.pp1{
    color:rgb(255,0,0)

}

.pp2{
     color:rgb(0,0,255)
}

.pp3{
    color:rgb(0,255,0)
}

.pp4{
    color:rgb(0,0,255)
}

.pp5{
    color:rgb(255,0,0)
}

.pp6{
    color:rgb(0,255,0)
}