/* .p1{
    text-decoration: line-through orange;
}

.p2{
    text-decoration: line-through red;
}

.p3{
    text-decoration: line-through magenta;
}

.p4{
    text-decoration: line-through green;
}

.p5{
    text-decoration: line-through beige;
} */


/* .p1{
    text-decoration: overline red;
}

.p2{
    text-decoration: overline orange;
}

.p3{
    text-decoration: overline yellow;
}

.p4{
    text-decoration: overline green;
}

.p5{
    text-decoration: overline purple;
} */


/* .p1{
    text-decoration: dotted plum;
}

.p2{
    text-decoration: dotted pink;
}

.p3{
    text-decoration: dotted powderblue;
}

.p4{
    text-decoration: dotted orchid;
}

.p5{
    text-decoration: dotted palevioletred;
} */


.pa{
    text-decoration: solid dotted red;
}


.pd{
    text-decoration: solid dashed olive;
}

.pc{
    text-decoration: solid dotted papayawhip;
}

.p{
    text-decoration: solid  double orangered;
}

.p4{
    text-decoration: solid overline blue;
}


