#div1 {
    display: flex;
    gap: 20px;
  }
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .p1 {
    background-color: #3498db;
    color: white;
  }
  #p1:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
  }

  .p2 {
    background-color: #2ecc71;
    color: white;
  }
  #p2:active {
    background-color: #27ae60;
    transform: scale(0.95);
  }