.p1{
    color: crimson;
}

.h1{
    color: coral;
}

.h2{
    color: darkmagenta;
}

.h3{
    color: darkmagenta;
}


.h4{
    color: deeppink;
}


.h5{
    color: hotpink;
}

.h6{
    color: fuchsia;
}