body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width: 130px;
    height: 130px;
}


.d1{
    transform: rotate(45deg);
    position: absolute;
    top: 300px;
}


.p2{
    transform: rotate(800deg);
    transition: 0.5s;
    position: absolute;
    top: 300px;
}

.d2:hover{
    transform: rotate(80deg);
    transition: 0.5s;

}



.d3:hover {
    transform: rotate(90deg) scale3d(1,3);
    transition: 0,5s;
}


.d4{
    
}


