/* table{
    border-top:1px solid red;
}
table ,td{
    border: 1px dashed red;
    padding: 10px;

    width: 45%;
    
}

th{
    background-color: blueviolet;
}




table{
    border-top: 1px solid plum;
    border-left: 3px dashed purple;
    border-bottom: 5px solid pink;
    border-right: 6px dashed palevioletred;
} 
table{
    border-top:1px solid red;
}
table ,td{
    border: 1px dashed red;
    padding: 10px;

    width: 45%;
    
}

th{
    background-color: blueviolet;
} */