/* .p1{
    font-size: 18;
}

.h1{
    font-size: 36;
} */
 /* footer{
    background-color: darkgray;
    color: blue;
 } */

div{
   background-color: lightgray;
   font-size: 100px;
   color: blueviolet;
}