/* div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: brown;
}

.child{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px solid yellow;
} */


