/* .p1 :hover{
    color:blue
    text-shadow blue: 0px 0px 20px ;
}

.p1{
    transform: 5s;
    background-color: brown;
} */


/* .p1{
    font-size: 300px 300px;
    
} */

/* .div1{
    width: 150px;
    height: 150px;
    background-color: black;
    border: ;
} */